body{
	background: grid;
	font-family: Arial;
}
h3{
	font-size: 30px;
}
#main-container{
	margin: 100px auto;
	width: 600px;
}
table{
	background-color: white;
	text-align: left;
	width: 80%;
}

th, td{
	padding: 20px;
}
thead{
	background-color: #246355;
	border-bottom: solid 5px;
	color: white;
}
tr:nth-child(even){
	background-color: #ddd;
}
tr:hover{
	background-color: #369681;
	color: white;
}
.container-add{
	width: 600px;
	margin: 100px auto;
}
.container_title{
	margin: 0;
	padding: 10px;
	background: rgba(120,65,40,1);
	color: white;
	font-size: 1.3em;
	text-align: center;
}
.container_form{
	background: white;
	box-shadow: 0 0 20px #333;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;

}
.container_label{
	font-size: 1.3em;
	width: 20%;
}
.container_input{
	width: 25%;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px;
}
.container_submit{
	background: rgba(120,65,40,1);
	color: white;
	border: none;
	padding: 10px;
	margin: 15px auto;
	width: 100px;
	font-size: 1em;
	cursor: pointer;

}